<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Next Player' in resource group 'WinPhone' -->
  <InstrumentationKey>7dc5e66f-7f6e-429b-84f6-c35142bb912e</InstrumentationKey>
</ApplicationInsights>