<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Next Player' in resource group 'WinPhone' -->
  <InstrumentationKey>80222e7f-9556-409e-adbc-a0b0151540b2</InstrumentationKey>
</ApplicationInsights>